## Pandas
### Multi Index Dataframe

In [6]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
# Index Levels
outside = ['G1','G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [7]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [8]:
df

             A         B
G1 1  0.270917  0.626457
   2 -0.274024 -0.983530
   3  1.104762  0.691083
G2 1 -1.729687  1.192552
   2 -1.988262  0.855616
   3  1.072124  1.139922

In [9]:
df.loc['G1']

          A         B
1  0.270917  0.626457
2 -0.274024 -0.983530
3  1.104762  0.691083

In [10]:
df.loc['G1'].loc[1]

A    0.270917
B    0.626457
Name: 1, dtype: float64

In [11]:
df.index.names

FrozenList([None, None])

In [12]:
df.index.names=['Groups','Num']

In [13]:
df

                   A         B
Groups Num
G1     1    0.270917  0.626457
       2   -0.274024 -0.983530
       3    1.104762  0.691083
G2     1   -1.729687  1.192552
       2   -1.988262  0.855616
       3    1.072124  1.139922

In [14]:
df.loc['G2']

            A         B
Num
1   -1.729687  1.192552
2   -1.988262  0.855616
3    1.072124  1.139922

In [15]:
df.loc['G2'].loc[2]

A   -1.988262
B    0.855616
Name: 2, dtype: float64

In [16]:
df.loc['G2'].loc[2]['B']

0.8556160097920916

In [17]:
df.xs

<bound method NDFrame.xs of                    A         B
Groups Num
G1     1    0.270917  0.626457
       2   -0.274024 -0.983530
       3    1.104762  0.691083
G2     1   -1.729687  1.192552
       2   -1.988262  0.855616
       3    1.072124  1.139922>

In [18]:
df.loc['G1']

            A         B
Num
1    0.270917  0.626457
2   -0.274024 -0.983530
3    1.104762  0.691083

In [19]:
df.xs('G1')

            A         B
Num
1    0.270917  0.626457
2   -0.274024 -0.983530
3    1.104762  0.691083

In [20]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.270917  0.626457
G2     -1.729687  1.192552